.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fbfbfb;
}

.header-logo {
  height: 40px;
  object-fit: contain;
}

.header-icon {
  padding: 20px;
}

.header .MuiIconButton-root {
  color: #4c276b !important;
}
